# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea

serial/life3d

serial/tests/example
serial/tests/read
serial/tests/state
serial/tests/write

omp/life3d-omp

omp/tests/example
omp/tests/read
omp/tests/state
omp/tests/write
