# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

serial/life3d

serial/tests/example
serial/tests/read
serial/tests/state
serial/tests/write

openmp/life3d

openmp/tests/example
openmp/tests/read
openmp/tests/state
openmp/tests/write
